[*.cs]

# CA1822: 멤버를 static으로 표시하세요.
dotnet_diagnostic.CA1822.severity = silent

# CA1710: 식별자에는 올바른 접미사를 사용해야 합니다.
dotnet_diagnostic.CA1710.severity = silent

# CA1715: 식별자에는 올바른 접두사를 사용해야 합니다.
dotnet_diagnostic.CA1715.severity = none
